[2015-11-28 07:43] garkin opened #2 "Tests to display workflow with typescript"
How am i supposed to import `serialize.d.ts` inside my `/typings/tsd.d.ts` to be able to use it inside my Typescript module?
[code]

I'm trying it currently as:
[code]
And i get an error:

Since `serialize.d.ts` does not contains ambient declaration:
[code]

[2015-11-28 08:12] garkin commented on #2
Looks like i need to import it like a typescript file, relative to npm module:
[code]

[2015-11-30 14:51] weichx commented on #2
Hi garkin, so far the project has expected es6 imports with a relative path.
`import { serialize } from '../node_modules/cerialize/src/serialize'`
that should get you started for now but I'll take a look at getting it to work with tsd definitions

[2015-12-09 09:16] garkin opened #6 "Fails to deserialize from a plain array using Serializer"
Tests: https://github.com/garkin/cerialize/commit/2dd885a6641dc0f10cb8776ecfdc1986031f5ca2
[code]

[2015-12-09 15:44] weichx commented on #6
thanks again for the contribution, huge help! https://github.com/weichx/cerialize/pull/7

[2015-12-09 15:44] #6 closed

[2015-12-09 15:47] weichx commented on #2
I havent had much luck exposing typescript packages to npm, have you seen any good examples I can borrow from?

[2015-12-26 04:29] 1ambda opened #8 "small typo in README.md"
## 1. Section: **Details**

[code]

should be

[code]

## 2. Section: **Deserializing Into New Instances**

[code]

should be

[code]

Thanks for a great serialization library :)

[2015-12-26 06:16] 1ambda opened #9 "Support type parameterized `Deserialize` function"
I am writing `Dserializable` abstract class which indicate it can be **deserialized** and has `deserialize` Function. It looks like

[code]

But since [`cerialize.Deserialize`](https://github.com/weichx/cerialize/blob/87fe32f40e29abb97055e8f6b79be13fc73c597c/src/serialize.ts#L404) requires the constructor function as the second arg, It's somewhat verbose.

If we have a type parameterized `cerializ

[2015-12-28 16:14] #8 closed

[2015-12-28 16:20] weichx commented on #9
How would you get the run time type information to know what to type to deserialize something into? I'm all for using generics here but since the generic constraints are a compile time feature of Typescript and not reflected in the compiled JS I'm not sure you can make this work in the same way you'd solve this problem in Java or C#.

[2015-12-28 16:34] weichx commented on #9
Maybe if you use this it would work but I'd have to try it
[code]

I'm also not sure that static methods are inherited, so it might need to be more like:
[code]
Thats using polymorphic `this` which landed here: https://github.com/Microsoft/TypeScript/pull/4910 but I haven't tried to use this feature before so im not sure if it works as I expect.
This kind of thing really wants to be a mixin, can't

[2015-12-30 18:37] weichx commented on #9
@1ambda any thoughts here? I'm going to close this otherwise

[2015-12-31 07:49] 1ambda commented on #9
@weichx Thanks for detailed explanation and alternatives.

1. public static methods are not inherited in TypeScript
2. polymorphic `this` also requires type parameter for example,

[code]

I read https://github.com/Microsoft/TypeScript/issues/2037 but could not found any solution.
I agree this is the limitation of TypeScript as you mentioned.

My final implementation looks like

[code]

Without No

[2015-12-31 14:36] weichx commented on #9
@1ambda how were you using `deserialize`? I added this PR https://github.com/weichx/cerialize/pull/13 with your test in it and using `deserialize` and it passes just fine for me

[2015-12-31 14:44] weichx commented on #9
Another thought on the above code, it seems like `Car.deserialize<Car>(Car, json)` is a bit odd. I played with generics a bit more and came up with this:
[code]
which you should be able to use like this:
[code]

This is probably something I should add to the library, but for now I think its a cleaner solution for your use case than extending an abstract class.

[2016-01-01 04:51] 1ambda commented on #9
@weichx I downloaded `0.1.2` and checked that the test is passing as you pointed out. I think the reason why `deserialize` does not work properly only in my code is, I used customized version of **cerialize**  in `node_modules/cerialize` which i modified since the previous released version (`0.1.1`) does not support #11.

In terms of `DeserializeGeneric<T>`, I agree with your suggestion. I will us

[2016-01-02 03:42] 1ambda opened #16 "OnDeserialized hook is not called when a class have no @deserialize field"
Assume that we have models deserializing Github API responses like

[code]

[code]

In this case, if we remove `@deserializeAs("action") public action: string;` field, `OnDeserialized` hook in `GithubForkEventPayload` class will be not called because [metadataArray](https://github.com/weichx/cerialize/blob/a45c93190ca488848474734e8242a9c37bfbecfd/src/serialize.ts#L408) is empty.

So I think `OnDes

[2016-01-04 15:58] weichx commented on #16
Interesting use case, I think you are right that the hook should be called but I would like to find a nice way to do so at parse-time instead of run time. Since we use `@inheritSerialization` anyway, perhaps the right time for this check is inside the `@inheritSerialization` attribute function body. I'll play with this and see what I can come up with.

[2016-01-04 16:32] weichx commented on #16
https://github.com/weichx/cerialize/pull/17 should solve this issue for the non inherited case

[2016-01-04 16:35] weichx commented on #16
I'm closing this and addressing inherited serialization separately since I think that is an ongoing discussion and the root issue here has been fixed.

[2016-01-04 16:35] #16 closed

[2016-01-05 03:05] 1ambda commented on #16
Thanks :)

[2016-02-13 23:53] mightea commented on #2
With the new [typings package](https://www.npmjs.com/package/typings) you can import the cerialize typings by running `typings install npm:cerialize` --save and it will use the typings provided with the cerialize npm package

[2016-02-15 15:26] weichx commented on #2
very cool, I'll check this out thanks for passing it along

[2016-02-25 17:17] wrench7 opened #18 "Typescript def is on the global namespace"
Is it possible to have the typedef modified slightly by wrapping it in a `declare module 'cerialize'`?

[2016-03-01 13:57] weichx commented on #18
@wrench7 I'm happy to do this but I'd rather change the code to be compiled into this instead of just changing the d.ts file that is generated after compilation. I can't seem to find docs / examples of how to structure the code to reflect the desired output here, have you come across any samples I can borrow from?

[2016-04-30 12:15] st-clair-clarke opened #19 "Ability to add space between serialized properties"
Hi,
Thanks for your wonderful contribution to typescript.

Request|
Given JSON.stringify(Serialize(instance), the result is a single string without any white space.
For readability, I was wondering if there could be an optional flag to input a space (or any charcter) between the properties.

For example,
JSON.stringify(Serialize(this.name) results in : {"title":"Tom","first":"Tavin","last":"Foo","

[2016-05-01 15:32] weichx commented on #19
Thanks for the suggestion, we can definitely use some custom formatting options but I think in your particular case the `JSON.stringify(src, replacer, spaces)` signature already handles this for you. If you look at the docs for that function [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify) you can see that there are two additional optional arg

[2016-05-01 20:53] st-clair-clarke commented on #19
Thanks. I was not aware of those paramters. They work perfectly.

Cheers

[2016-05-02 16:26] #19 closed

[2016-05-05 11:34] st-clair-clarke opened #20 "cerialize and immutable.js"
Hi,
Do you know if cerialize works with or can work with immutable.js?

Thanks

[2016-05-05 14:16] weichx commented on #20
I've never actually tried immutable.js, however after glancing through the docs for it I see no reason why it wouldn't work.
[code]

[2016-05-05 14:47] weichx commented on #9
This is now supported through `GenericDeserialize<T>` and `GenericDeserializeInto<T>`

[2016-05-05 14:47] #9 closed

[2016-05-05 14:48] #2 closed

[2016-05-05 14:49] #18 closed

[2016-05-09 13:22] #20 closed

[2016-05-12 15:06] sondreb opened #22 "Error: decorator is not a function"
When I try to use the @deserializeAs(Type) it fails with the error:

`decorator is not a function`

Code:

[code]

Any ideas?

[2016-05-12 18:16] weichx commented on #22
Everything looks fine from the code, it might be something else in the environment. What browser and version of typescript are you using? Did you enable the `useExperimentalDecorators` flag in tsConfig?

[2016-05-12 18:55] sondreb commented on #22
Yes, it's enabled. Here is the full tsconfig.json:

[code]

The es6-shim is loaded, file es6-shim.min.js.

Code works fine if I remove the @deserializeAs().

Compiled with TypeScript v1.8.10 and built using gulp-typescript v2.13.0

I have used similar annotations (with parameters) in another TypeScript library I'm building, and there they work just fine, but that is Node.js and ES6 output, and not

[2016-05-12 19:01] weichx commented on #22
Hmm, where is the source of the decorator is not a function error? Is that coming from within Cerialize?

[2016-05-12 19:20] sondreb commented on #22
The error is thrown from Angular boot upon loading of the app, so long time before I run any serialize/deserialize operations in Cerialize. So probably when Angular parses/runs the attributes defined on the class.

Upon loading I'm also getting this error, might be related as it has to do with Map?

[code]

Here is the code in question:

![image](https://cloud.githubusercontent.com/assets/309938/1

[2016-05-12 19:27] weichx commented on #22
I think the issue here is that you're using "module": "system". I havent worked with that at all but from looking at the docs it seems like adding allowSyntheticDefaultImports to tsConfig may allow interop between commonjs (which Cerialize expects) and system

[2016-05-12 20:52] sondreb commented on #22
I tried to grab your .ts source, same problem.

And I tried to make my own simple and custom annotations, and they fail the same when being called with parameters, so the problem is likely not related to your great framework. Thanks for the help and I'll continue debugging!

PS: I will close the issue, but I'll come back and leave a comment on the fix when I find it, for future reference to others

[2016-05-12 20:52] #22 closed

[2016-05-13 12:50] weichx commented on #22
Sorry I couldn't help more! Good luck with the issue, I'll be interested to find out what it was

[2016-05-19 09:01] sondreb commented on #22
The problem was that I had an attribute referencing a type that was declared below in the same source file. Doh.

See my last comment on the issue here: https://github.com/rbuckton/ReflectDecorators/issues/29

[2016-05-20 15:52] hdcos opened #23 "how to install the library"
Hello there I am pretty new in typescript and javascript and I have big trouble installing your library.
I installed it with npm

    npm install --save cerialize

I have the autocompletion in visual studio code and I find the library on the disk so it seems to work.
But when I load my application I have strange messages

    serialize.js:10 Uncaught ReferenceError: exports is not defined
    angu

[2016-05-20 15:57] hdcos commented on #23
note: when I remove the serialize.js script from the head the message
    serialize.js:10 Uncaught ReferenceError: exports is not defined
disapear but still have the others

[2016-05-21 02:50] weichx commented on #23
You need to set the "module" key in tsconfig to "commonjs" if it isnt already. thats the source of the 'exports' missing, typescript is trying to compile the files but that variable isnt defined unless "commonjs" is set

[2016-05-21 02:52] weichx commented on #23
actually, on closer look, you probably cant use the library via script tag, you'll need to use `require` or `import` to get it into your app

[2016-05-21 11:30] hdcos commented on #23
The "module" key in tsconfig is set to "system". I just followed the angular2 tutorial. If I change this value angular2 tells me that require is not defined.

I can't load your library with systemjs?

[2016-05-21 11:56] hdcos commented on #23
Ok I have lost too much time trying to import and use this library (not your problem, just lack of experience and knowledge), I will change the architecture of my application instead. Instead of OOP I will use modules and plain javascript object. So computation and data are decoupled and serialization/deserialization not a problem anymore

[2016-05-24 16:34] #23 closed

[2016-06-01 14:37] cladera commented on #22
@sondreb glad you figure it out. However I'm afraid all of us will eventually came across this issue, and not always will have an easy solution.
if you use some kind of generator, for instance, angular-cli, you'll barely have control over the declaration order. In my case, I hit an endpoint. This is what I want to accomplish:

[code]

As you can see, even if I change the loading order, It'll crash

[2016-06-01 14:54] weichx commented on #22
This cannot work with annotations unless the library were written to handle some sort of async type loading. No matter what order you put things in either Workspace or Account will be undefined at the time the other class decorators are run, there is no way around that. The only way to make this work is to implement some other Api that can be run in a Serialize/Deserialize hook to re-gather the de

[2016-06-02 01:27] st-clair-clarke opened #24 "Cannot load cerialize in angular-cli application"
Hi,
I have been trying to load cerialize in an angular-cli generated application for the last two days without much success. The semantics of the directory structure are different from the seed I previously used. I have tried various forms of the following without much success

file | angular-cli-build.js

var Angular2App = require('angular-cli/lib/broccoli/angular2-app');

module.exports = functi

[2016-06-02 14:13] weichx commented on #24
What is your module field set to in tsconfig? I haven't worked at all with the "system" module setting which may be part of the issue here. The d.ts file sits right along side the js file and is setup correctly in the package file's typings field.

I have literally zero experience with angular 2 (Vue is 10x better by the way), is what you're doing the normal way to import dependencies in that fram

[2016-06-02 14:26] weichx commented on #24
Looked into this a bit more, angular cli is accepting the files and pushing them through a broccoli funnel. Shouldn't serialize.js be nested under cerialize/dist/?

[2016-06-15 11:52] jfstephe opened #25 "Factories/callbacks for serialization and deserialization"
Hi,
Thanks for you great work on this library. One problem I have at the moment is that I want to be able to instantiate objects ( new Class() ) from a factory not using the standard object creation. I can also think of scenarios where it would be good to hook into the deserialization step, rather than relying on JSON.stringify.

Any chance you could add these hooks in? I was thinking of passing a

[2016-06-15 15:32] weichx commented on #25
Can you provide a sample of the api you are looking for? I don't quite follow what you are asking for but happy to add features if they make sense.

[2016-06-17 11:04] jfstephe commented on #25
Thanks for your response. The specific problem we had was with TypeScript enums, being deserialized as strings. So I was thinking of rather than:

export class ParentClass {
@deserializeAs(MyEnumType) someEnumProperty; // deserialised as a string
}

something like (some types added):

// For deserialization
stringToEnum(EnumType: any, value:string) {
  return new EnumType(value);
}
// For serializ

[2016-06-20 12:41] weichx commented on #25
well we already have enums figured out, try using `SerializableEnumeration(enum)` after declaring your enum and then it should work fine.

[code]

To achieve your factory scenario, I think the following would work today.

[code]

Does that solve your problem?

[2016-06-20 12:47] weichx commented on #24
closing since I haven't determined that this isn't a setup issue and haven't heard back in a while.

[2016-06-20 12:47] #24 closed

[2016-07-20 16:30] nick-jones opened #27 "Avoiding constructor invocation"
I'm looking to handle a case where I have a value-object style class, and the constructor performs validation against a supplied argument. To explain with an example, say I have a class that only accepts a valid looking hex string provided to its constructor:

[code]

If I then attempt to deserialize this with:

[code]

I will get:

[code]

This is seemingly because the constructor is invoked with

[2016-07-20 17:53] weichx commented on #27
I understand where you're coming from the the Object.create proposal. I'm fairly certain however that that would introduce issues with the `instanceof` operator and the `.constructor` property of the created object. That would also break the way the library works unfortunately because we are storing the serialization meta data in a map that is keyed by a constructor.

In general I'm a strong belie

[2016-07-20 17:53] #25 closed

[2016-07-20 19:06] nick-jones commented on #27
Thanks for the reply!

Unfortunately I'm not completely well versed in JS, thus my rather jittery explanation. But what generally gave me confidence to suggest the `Object.create` route was I went ahead and replaced all instances of `new (<any>type)()` with `Object.create((<any>type).prototype)` and ran the tests. They pass OK. I've just run a crude test where I `console.log(keyName)` in `MetaData

[2016-07-20 19:15] weichx commented on #27
I could be wrong and the object.create could be better, haven't tried it in quite some time. I tend to prefer `new` in general, may be a personal bias. Regardless, I do think you're better off not throwing exceptions in constructors in any language, not just JS. There may be legit use cases for wanting to do that, but generally if you need to validate input before creating an object, I'd use a fac

[2016-07-20 20:00] weichx commented on #27
I'm going to close, you still think this is an issue we can reopen and discuss what to do about it

[2016-07-20 20:00] #27 closed

[2016-07-22 14:58] klewar2 opened #28 "autoserializeAs(Entity) does not deserialized the entity"
I have an entity that contains another entity :

[code]

I have declared functions on the product entity. When i use `@autoserialize`, i have the product object but he is not instanciate, and when i use `@autoserializeAs(Product)` or `@autoserialize(Product, 'product')`, i haven't object or product entity in the return of `Deserialize(json, SessionEvent)`.

Thanks

[2016-07-22 15:20] weichx commented on #28
This should work totally fine. Does product have any serialization annotations on any of its properties? If not that could be one explaination.
[code]

[2016-07-22 15:30] klewar2 commented on #28
Thank for your quick answer.
Below my product entity :

[code]
Below my session event json :
[code]

I need to do that to make it works :

[code]

[2016-07-22 16:08] weichx commented on #28
one thing that stands out is your json format, do you account for the root node being `data` and not the item properties themselves? `var item = Deserialize(json.data, Item)` for example

[2016-07-22 20:20] antitoine commented on #28
Yes (I'm working with @klewar2 ), I can't reproduce the problem in a simple plunker... [available here](http://plnkr.co/edit/eGHEMG?p=preview)

The real application is more complex and maybe the problem comes from elsewhere...
I will try again soon !

[2016-07-25 09:09] antitoine commented on #28
We found the problem.
We use webpack to build the project, and his particularity is that every folder can have a `index.ts` that export all class of the folder (in every files).

When the SessionEvent is deserialized, the Product class is unknown because the Product file is not loaded yet at this time.
We changed the order in the `index.ts` (put Product class before SessionEvent) and this fix the

[2016-07-25 09:09] #28 closed

[2016-07-26 08:44] meakyl opened #29 "Date format"
Is there any way to choose the serialized date format ?
I'm using a NoSQL database for storage and I would like the dates to be stored in the string ISO format "2016-07-21T15:54:59.928Z".
When using cerialize, I have something like "Tue Jul 26 2016 09:54:56 GMT+0200 (Romance Daylight Time)"

Thank you

[2016-07-26 15:09] nick-jones commented on #29
I believe `OnSerialized` can be used to achieve this.. something along the lines of this..

[code]

The `Date` constructor [accepts `ISO 8601` formatted strings](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Date), so an equivalent for deserialization may not be required.

[2016-07-27 08:47] meakyl commented on #29
Yes that's typically something I would like to avoid. Being forced to to this for every date property manually.
I looked at the source code and it's just a .toString(). ISO format is better for me as it is sortable and queryable easier. And JSON.stringify on a Date object gives the ISO format.
Is there a reason why cerialize uses toString() instead of JSON.stringify(..) ?

[2016-08-01 14:41] weichx commented on #29
You should be able to provide a custom serialization / deserialization function to `@autoserializeAs`. It would look like this:

[code]

the date is toString() because I didn't know about toISOString() 😃  I'll change it soon

[2016-08-01 15:29] meakyl commented on #29
It works with you suggestion though I changed it a little.
[code]
We can live with this for now but it would be a lot better if we can choose the format or if you decide to use ISO format as default.
thank you.

[2016-08-01 15:45] weichx commented on #29
if you upgrade it should work, i changed the format to ISO by default for date serialization

[2016-08-01 15:45] #29 closed

[2016-08-02 08:01] meakyl commented on #29
I upraged and it works perfectly thanks

[2016-08-02 12:48] weichx commented on #29
awesome, glad to hear it

[2016-08-03 10:10] meakyl commented on #28
We had a similar issue in our project.
The order in the index.ts file is important.

If you have one file with 2 classes, the order in which the classes are written is important too.
This caused some headache in our team :)

Is this a normal behavior ?

Thank you

[2016-08-03 14:15] antitoine opened #30 "autoserializeAs('key') does not work with private attribute"
Hi,

I can't change the key name of a private attribute or public.
I reproduce the problem in this plnkr : http://plnkr.co/edit/ncZp38

In every configuration that I tried, the key name is unchanged.

Someone has any clue on this issue ?

Thanks by advance

[2016-08-03 17:42] weichx commented on #28
Yes it is normal, circular references won't work. Its a language limitation unfortunately.

[2016-08-04 15:51] antitoine commented on #30
Sorry, I forgot to use Serialize function to get the json ...
So, this solve the problem :
[code]
the plnkr solved : http://plnkr.co/edit/iDtNaF

[2016-08-04 16:06] weichx commented on #30
So you're all set? Should I close this?

[2016-08-04 16:12] antitoine commented on #30
Yes, all good ! Thank you

[2016-08-04 16:14] weichx commented on #30
great

[2016-08-04 16:14] #30 closed

[2016-08-05 10:29] christophercr opened #32 "@xxxIndexable annotations don't support ES6 Maps"
Currently, the @ @xxxIndexable annotations allow the user to work with simple objects to be used as a dictionary in the way {[idx : string] : SomeClass} , which is basically what the Maps in ES6 are. However, such Maps are not yet supported by these annotations.

Is it possible to have ES6 Maps supported?

[2016-08-05 11:37] weichx commented on #32
I see what you're getting at but I'm not sure it would work. Feel free to argue with me though. I think the issue there is that json won't support anything other than strings for keys. With a map you likely don't have string keys which is a problem. Also your backend almost certainly can't handle objects as keys even if it were possible.

If you really need to handle serializing a map and have a c

[2016-08-05 14:42] christophercr commented on #32
Indeed, as you mentioned, Maps can have objects as keys. My concern what about Maps having an string key though. In that specific case they are basically the same as the dictionary objects currently supported by @xxxIndexable.

In order to get it to work, I had to manually create the map in the OnDeserialized callback and extract the array of values in the OnSerialized callback as follows:

[code]

[2016-08-05 14:58] weichx commented on #32
I think a nicer way to solve this is to define a custom serialization type. I don't think the edge case of a map having only string keys is something the library should enforce. For your case, heres what I'd suggest:

[code]

[2016-08-08 14:02] weichx commented on #32
Do you have more thoughts on this? I'd like to close the issue if you dont

[2016-08-08 14:04] christophercr commented on #32
Yes, indeed, that is a better solution and more generic for these edge cases. I've tried it out and it worked. Thanks for your support.

[2016-08-08 14:20] weichx commented on #32
Awesome (sorry for the crap untested code 😄 ) I'm going to close this but feel free to open another if you have any problems

[2016-08-08 14:20] #32 closed

[2016-08-09 07:58] christophercr opened #33 "Deserializing a Map<string, MyClass> with custom serialization type doesn't instantiate the class"
Hi, in fact this issue is related to https://github.com/weichx/cerialize/issues/32. As you suggested, I can use a custom serialization type instead of defining the OnSerialize  and Ondeserialize callbacks everytime. However, the actual class to be instantiated and set into the Map is lost, I now get a `Map<string, Object>`.

Do you know how can I get my actual class to be correctly instantiated?

[2016-08-09 11:55] weichx commented on #33
What do you mean the class is lost? The type for it or the actual instance?

[2016-08-09 12:04] christophercr commented on #33
Sorry, I meant that the type is lost. There is no actual instance, just an object, which makes sense because there is no class provided to the @autoserialize annotation.

[2016-08-09 12:05] weichx commented on #33
Oh I see what you mean. If the items in the map are all the same class this is easy, if not you'll have to get creative. I'll circle back in a bit with some options, not at my computer right now.

[2016-08-09 12:18] christophercr commented on #33
Well, to clarify: all the elements in the map have the same class, the actual problem is that I can have a map of ClassA, another one of ClassB, and so on... in this case, the deserialization needs to be aware of the right class to instantiate. Basically all boils down to the Deserialize() method, it needs the type to be instantiated.

[2016-08-09 12:38] weichx commented on #33
try this:

[code]

[2016-08-09 13:17] christophercr commented on #33
Indeed, that made the trick. Thanks a lot.

[2016-08-09 13:18] weichx commented on #33
No problem, reach out if anything else comes up

[2016-08-09 13:18] #33 closed

[2016-08-18 12:53] algreasley commented on #25
belated appreciation for the above  - this works perfectly, thank you)

[2016-08-18 13:50] weichx commented on #25
Awesome, glad to hear it

[2016-09-14 14:37] SnezanaDichevska opened #35 "Can not deserialize Generic class"
I tried using GenericDeserialize and Deserialize method in order to deserialize my generic typescript class, but it  doesn't recognize any generic classes.
**Example:**
generic class:
`export class PaginatedList<T> {`
       ` @deserializeAs(T) items:T[];`
       ` @deserialize currentPage:number;`
      ` @deserialize totalCount:number;`
`}`
use:
` Deserialize(res, PaginatedList<User>); `

Anythi

[2016-09-15 09:06] weichx commented on #35
I think what you are trying to do isn't supported due to a typescript limitation. The deserialization in this library works by grabbing property definitions off of the class argument. In this case, `T` isn't a real class so `deserializeAs` doesn't know what to do with it (because it not an actual class object at runtime).

`GenericDeserialize` is just a small casting wrapper around `Deserialize`.

[2016-09-20 18:14] andregs commented on #22
Sometimes your instances don't have a circular dependency but your classes do. For example:

[code]

It'd very useful if my _classes_ could reference each other this way. My instances don't depend on each other and I never serialize `newsFeed` back to DB, so there's no "circular dependency issue" on my app. However, the "decorator is not a function" error still happens because of `@deserializeAs(U

[2016-09-21 07:46] weichx commented on #22
I agree if this were possible it would be a great thing to have. Unfortunately, this is a JS problem and not a library one. The problem is that at parse time whichever one of your classes is parsed second, will not exist at the time the first one is parsed. C/C++ gets around this with forward declarations, C#/Java just have multi pass compilers that are smart enough to figure this out. Because JS

[2016-09-26 08:39] weichx commented on #35
@SnezanaDichevska this still an issue? I'll close it if I dont' hear back from you in a couple days

[2016-09-27 08:49] #35 closed

[2016-09-28 11:10] varunshoor commented on #27
@nick-jones I have been trying to get your email but apparently you don't exist on the internet except for on Github. I am really sorry that I have to resort to commenting on this thread but I really would like to talk. Can you please either DM me your email at @varunshoor or contact me at varun.shoor@kayako.com? Thanks!

[2016-10-04 15:19] BUONJG opened #36 "Cannot deserialize correctly typed arrays"
I have issue on array deserialize when I use the following annotation:
[code]
I get:
'String1,String2' in test.arrayOfString when I expected ['String1', 'String2']
NaN in test.arrayOfNumber when I expected [1, 2]

When I use the following annotation, it works fine:

[code]
The reason why I use deserializeAs instead of deserialize is to make your library take care to the type conversion.

Is there

[2016-10-04 15:50] BUONJG commented on #36
Just for information, I check in the library, it seems that you can fix this issue adapting deserializeObject function:

do the if (Array.isArray(source)) in first position instead of second position:

if (Array.isArray(source)) {
         instance[keyName] = deserializeArray(source, metadata.deserializedType || null);
} else if (metadata.deserializedType && typeof metadata.deserializedType.Deseri

[2016-10-05 11:53] BUONJG opened #37 "Issue on deserializeAs(String)"
Hello,

I found another issue using autoserializeAs(String):
[code]

then it results object.scalarString = 'null' (a string with null inside instead of null)

To resolve this in the libary, you only have to add in function deserializeObject
[code]

Do you want me to do a pull request?

Thank you.

[2016-10-05 12:06] weichx commented on #37
Thanks for letting me know, I'm not near my computer right now but I'll
check on this later today

On Oct 5, 2016 1:53 PM, "BUON Jean-Guy" <notifications@github.com> wrote:

[2016-10-05 12:16] BUONJG opened #38 "Issue on deserializeAs(Date) when Date is overwritten"
Hello,

We are using sinon in our tests to fake dates.
Then, when we use cerialize to convert a json containing a string date, it doesn't return a Date object:

[code]

then, object.scalarDate is not a Date instance as expected.

To resolve this you only have to change the way you detect the type corresponds to a date:

metadata.deserializedType === Date
should be
metadata.deserializedType === Dat

[2016-10-05 14:07] weichx commented on #36
As far as I can tell the library is doing the right thing. We don't want to do the array check first because we need to prioritize custom deserializers. As a rule you shouldn't be use `xxxxAs` annotations on primitive data unless you need to change the key or want custom behavior. I'm not sure I understand what you mean by having the library take care of the type conversion. Can you elaborate?

[2016-10-05 14:16] BUONJG commented on #36
The issue we have is if we do not specify @deserializeAs(String), if the data doesn't contain a String but a Number, we will not have a string in the object created by Cerialize but a Number.

Specifying @deserializeAs(String), Cerialize will convert the number into a string, it is what we expect.

But in the case of an array of string, the array is converted into a string not into an array of str

[2016-10-06 11:08] weichx commented on #36
So you are trying to cast a number to a string when deserializing? (or vice versa)

[2016-10-06 11:09] weichx commented on #38
It would be great if you could do a PR for this, thanks!

[2016-10-06 11:33] BUONJG commented on #36
Hello,

We have the case yes (cast string into number).

We are converting XML message to json and then json to object with
cerialize.

The XML do not contains schema so number are strings in the json and
cerialize is not casting the string into number if we do not sepcify:
autoserializeAs(Number).

2016-10-06 13:08 GMT+02:00 weichx <notifications@github.com>:

[2016-10-06 12:31] weichx commented on #36
Got it, so I think this particular use case isn't ideal to provide as built in functionality. What you can do is write a string array to number array (or vice versa) function and pass that in to `deserializeAs` Here is an example:

[code]

[2016-10-10 08:52] yuanfeiz opened #39 "Deserialize circular referenced classes"
Suppose there are two classes: `Post` and `Comment`.

[code]

When deserialize a post with comments, it failed to deserialize the `comments`:

*Input*:
[code]

*Output*:
[code]

This implementation might seems odd, but I suppose it's a valid use case to have bidirectional association that I can lookup the relevant objects from either side.

* Is there any limitation on the deserializer?
* Is there

[2016-10-10 09:02] weichx commented on #39
Two issues here. The first has to do with Javascript not having a lookahead compiler. At parse time, either Post or Comment won't have been parsed yet and will be undefined, whichever is parsed first, the other won't exist. The second part is a circular reference problem. I certainly see the benefit of having bidirectional pointers here but if you step back and think about how the data would be se

[2016-10-10 09:02] weichx commented on #36
@BUONJG does that help you?

[2016-10-11 10:38] yuanfeiz commented on #39
That makes sense! Regarding the second part, suppose the json objects are fetched from two different endpoints:

[code]
The API response has made sure that there is not circular reference in one object, though I might need to deserialize the post and comment in different places. Put it in another way: I might sometimes need to deserialize comment, sometimes need to deserialize post, with the API r

[2016-10-11 20:41] weichx commented on #39
This isn't something i think this library should handle but I can see why might ask about it. Probably the right move here is to use client side caching and do a second http call to get whichever one you dont have. You can keep a local index by id. If you have two sources of data and need to aggregate them its a good idea to leave that to an abstraction and let the library do what it is built to d

[2016-10-12 05:07] yuanfeiz commented on #39
Ok, thanks anyway.

BTW, thank you for the great library. It has been the foundation of a large Angular2 app I am working on and serves the purpose of serialization well.

[2016-10-12 05:07] #39 closed

[2016-10-12 07:55] weichx commented on #39
I'm glad you're getting some good use out of it, thats great to hear thanks!

[2016-10-12 09:16] BUONJG commented on #36
Hello,

Sorry for my late response.

It helps but it is not satisfactory for me.

We are using cerialize each time we have to convert a json to a typed object.

The json data has various origins (XML files, No SQL data storage, web forms data, http request body, query parameters....)

In many case, the can't ensure that the json properties are set with the correct type.

We can make Cerialize help

[2016-10-12 09:36] BUONJG commented on #38
Hello,

It seems to me I don't have the permission to create a pull request.

Can you grant me the access?

Regards,

[2016-10-12 09:37] BUONJG commented on #37
Hello,

It seems you included this in your last commit.

Thank you very much! :-)

[2016-10-12 09:39] weichx commented on #37
no problem, closing this out :)

[2016-10-12 09:39] #37 closed

[2016-10-12 09:40] weichx commented on #36
I see your point, they should respect the given type if provided explicitly. I'll handle this soon

[2016-10-12 09:59] BUONJG commented on #36
Thank you very much.

Have a good day.

2016-10-12 11:40 GMT+02:00 weichx <notifications@github.com>:

[2016-10-12 11:12] weichx commented on #38
closing, merged your pr

[2016-10-12 11:12] #38 closed

[2016-10-13 13:55] weichx commented on #36
this should be working now, at least for deserializing

[2016-10-13 13:55] #36 closed

[2016-11-14 20:24] rightisleft opened #41 "Mark as required"
It would be great if we could have a decorator that allowed use to mark a paramater as required during serialize/deserialize/auto

This would allow us to ensure that the contract is properly met.

[2016-11-15 09:18] weichx commented on #41
How would imagine this plays out?

[code]

or something else? I like the idea, I'm unsure off the top of my head what the interface for that would look like

[2016-11-15 18:12] Marche86 commented on #41
I prefer

`@autoseralizeAs(String, true) thing1 : string;`

Like java style

_@autoseralizeAs(columnDefinition="string", required=true)_

[2016-11-16 17:24] rightisleft commented on #41
or even just a seperate annotation

@required
@autoserialize

or require all and then opt out

@requireAll
export class Foo {

@autoserialize thing1
@autoserialize thing2
@autoserialize thing3
@autoserialize thing4

@optional
@autoserialize thing5
}

[2016-11-16 17:26] rightisleft commented on #41
Because interfaces are compile time only in typescript - i see a lot of 'loose' declarations where data could or could not be missing depending on the source.

Having auto runtime checking of all properties would be a huge win

[2016-11-16 20:28] weichx commented on #41
Yeah I agree. I think I prefer the separate annotation. I'll see what I can do about that, or feel free to submit a PR since it will take me a few days before I have time to look at this seriously

[2016-11-21 12:17] martinnovak opened #42 "Deserialize array of various types"
Hello, I have a problem with deserializing array of various types. This seems not to be supported, and it would be very helpful as it would enable me to use type hierarchy in serialization.

Example:

[code]

This is just an example of what I'm trying to achieve. My point is to distinguish the type of each object in the array X.array to have different types in deserialization. So, in this example,

[2016-11-21 12:30] weichx commented on #42
In general the library is built to handle deserializing a set of data where the types are known at build time. In your case this isn't true because (I assume) the tree nodes are dynamic. One thing to try would be this:

[code]

you would probably have to implement OnDeserialize for all node types like this, i don't think static functions are inherited.

[2016-11-22 00:00] rightisleft commented on #41
Happy to test it when its ready! I definitely dont have the bandwidth

[2016-11-22 21:32] martinnovak commented on #42
Thank you, this worked well. As you wrote, I created OnDeserialize function (also OnSerialize but for other reason) in all nodes I needed, and I didn't encounter any problem with such access.

[2016-11-22 21:32] #42 closed

[2016-11-22 22:03] weichx commented on #42
Awesome, glad to hear it

On Nov 22, 2016 10:32 PM, "Martin Novák" <notifications@github.com> wrote:

[2016-11-29 19:34] jppellerin commented on #22
Another situation similar to this that I am running into is an object that holds some sort of inheritance of the same type.

[code]

This will compile and the tests will run, but when loading into an Angular2 application, I get the same error.

This is where the error generates when trying to load the angular application (if this is of any help) :
![image](https://cloud.githubusercontent.com/asset

[2016-11-30 09:15] weichx commented on #22
I haven't touched angular 2 and am not familiar with how they do things but as far as the library goes your above code is correct. are you using commonjs or systemjs for modules?

[2016-11-30 14:28] jppellerin commented on #22
We are targeting `commonjs`.

As a bit more information, this class is in a library that we export and then import in our Angular project.  Angular is then built using the angular-cli (therefore webpack).  It's there that it's failing when trying to load the application once built in a browser.  It seems to work fine when that library is loaded in a Node application.

[2016-11-30 14:40] weichx commented on #22
Does everything work if you change the type of `children` to something other than `MyType`? I'm wondering if this is possibly an issue with using a type before its actually present in the runtime.

[2016-11-30 14:43] jppellerin commented on #22
Everything works fine if I do this :

[code]

Except that the array items don't get deserialized - I basically get the `JSON.parse()` of the items.    (ie: If I was to add private variables with functions, etc - they would not exist).

[2016-11-30 14:45] weichx commented on #22
right, and if you make children another type is it the same? Like some dummy class
[code]

[2017-01-04 14:12] X4V1 opened #44 "custom deserialize function"
Hi,

I'm using your library to automatically serialize and deserialize objects retrieved from back-end, and I would like to execute custom treatment before assigning the final value to the property. Is it possible to pass a function to do that ? For example, converting millisecond timestamp to second timestamp, or calculate other things with the received values.

I would like to pass a function to

[2017-01-04 17:39] weichx commented on #44
Yup, real easy, dumb example:

[code]

[2017-01-06 09:12] X4V1 commented on #44
Thank you for that information, it works like a charm :+1:

[2017-01-06 09:12] #44 closed

[2017-01-10 10:02] jas99 opened #45 "Allow annotated only object analysis for Serialize"
Hey @weichx
Plz chkout mbox lib for state management eg.
https://jsfiddle.net/mweststrate/wv3yopo0/

If my object is mobx observer the `Serialize` fails due to
[code]
In debugging I found the whole object is being analysed even those properties which is not annotated to be
Serialize/Deserialize.

I purpose you add an option which allow this behaviour.

Thx
Jas

[2017-01-10 10:03] jas99 commented on #45
@weichx
Btw ur lib is awesome; specially Deserializeinto

[2017-01-10 14:20] weichx commented on #45
Glad you are liking the library! Happy to look at the issue, can provide a
small sample of code that isn't working?

On Jan 10, 2017 11:02 AM, "Jaspreet Singh" <notifications@github.com> wrote:

Hey @weichx <https://github.com/weichx>
Plz chkout mbox lib for state management eg.
https://jsfiddle.net/mweststrate/wv3yopo0/

If my object is mobx observer the Serialize fails due to

RangeError: Maximu

[2017-01-10 23:29] jas99 commented on #45
[code]
@weichx

[2017-01-16 20:25] hwaterke commented on #41
Any news on the proposal?
This would allow me to drop all my PropTypes (React) that I'm still keeping for the runtime checks

[2017-01-17 18:09] lengtche commented on #42
For those copy pasting example provided by @weichx, function name should read `OnDeserialized`.

Threw me for a bit of a loop.

[2017-01-25 15:57] stanleytakamatsu opened #46 ""autoserializeAs" not work."
Assuming I have a "Model" folder with a following structure:
[code]

[code]

`index.ts` contain:
[code]

[code]
There is an inconsistency in functioning in the following scenarios:
[code]
When use:

`import { TestSubModel } from "../Test.Model";`  The `autoserializeAs` not work.

`import { TestSubModel } from "../Test.Model/TestSubModel"; ` The `autoserializeAs` works.

I tried to find the problem

[2017-01-25 16:21] stanleytakamatsu commented on #46
Note:
[code]

[2017-01-25 16:36] davidwalschots commented on #46
Most likely, at runtime the reference to TestSubModel doesn't exist yet (TestSubModel is undefined). If you export TestSubModel before TestModel it ought to work. I'd recommend directly referencing from TestSubModel to "../Test.Model/TestSubModel".

[2017-01-25 17:18] stanleytakamatsu commented on #46
I added the `debugger` inside the` autoserializeAs`. It clearly shows that the `TestSubModel` class has been loaded and is not as` undefined`.
Anyway, I'll reference the file directly for now.
Thank you very much for the clarification.

[2017-01-25 17:18] #46 closed

[2017-01-28 13:45] weichx commented on #41
No no update yet, haven't had the time unfortunately. feel free to submit a PR though

[2017-02-06 20:06] rightisleft opened #47 "lodash dependency"
/Users/jmurphy/projects/ubq/api/node_modules/@types/lodash/index.d.ts
Error:(19449, 15) TS2428:All declarations of 'WeakMap' must have identical type parameters.

I'm fairly confident this is a lodash issue, but it was brought in as a dependency of cerialize.

Any advice?

[2017-02-06 20:14] weichx commented on #47
Cerialize definitely doesn't have a lodash dependency, it could be a type
resolution conflict, previous versions of typescript didn't include
definitions for es6 collections. I'm not home to check now but I may have
declared a weak map interface which might explain your issue

On Feb 6, 2017 9:06 PM, "Jack Murphy" <notifications@github.com> wrote:

[2017-02-26 19:24] bijeebuss commented on #22
Was there ever a workaround or fix discovered for this?

[2017-02-28 09:09] weichx commented on #47
if you get the latest version this should be resolved

[2017-02-28 09:09] #47 closed

[2017-02-28 09:13] weichx commented on #22
I'm not sure that there is much to be done as it's a language issue, not a code issue. You can try wrapping things in a function to be executed later

[code]
but I'm not sure if that helps

[2017-03-10 15:26] tkagerer opened #48 "Custom Objects"
I had to change

[code]
TO

[code]
in order to maintain object type.

If you skip new here you get an anonymous object.

--- Background

I used @autoserializeAs(MyObject)

but what i got on deserialisation was a anonymous Object without the methods I expected the Object to have (MyObject).

I would appreciate an opinion to this or if i missed something.

Greetings

[2017-03-10 18:29] weichx commented on #48
is object a constructable function (ie class type) or just a literal? You shouldn't need to be using `new` in there for sure. If autoserializeAs is not passed a class type, it will assume you are passing in a custom `serializer` which is ` { Deserialize: (instance :  YOUR_TYPE, json:any) => any, Serialize: (instance : YOUR_TYPE) => any}`

[2017-03-13 16:13] rightisleft opened #49 "Generics Support?"
Is there a way to work with `DeserializeInto` using a an Abstract Class with a Generic T:

export class BaseService<T> {
 ...
 .map((response) => DeserializeInto(response.json(), T);
}

I understand Typescript discards Types at runtime, which makes this non trivial. Any best practices?

[2017-03-13 16:18] weichx commented on #49
Short of typescript reflection (which I'm working on by the way!) I'm not sure it would be possible

[2017-03-13 16:18] #49 closed

[2017-03-13 16:20] rightisleft commented on #49
Ya im looking over the reflect-metadata library. I wrote a binder like this in Dart using its Transformer / reflection libraries, but they have a pre processing pipeline at compile time that generates the meta info.

[2017-03-13 16:20] weichx commented on #49
yeah you can't do it without pre processing

[2017-03-15 12:22] tkagerer commented on #48
Hi weichx, thank you for your quick and sorry for my late answer!

Well, I might have special requirements.

See [http://plnkr.co/edit/UXBZZN9jhU7pSUH1prGP?p=preview](url) in app.component.ts which uses my patched version.

See [http://plnkr.co/edit/5ed8ZK10CFWtHjLTIpTV?p=preview](url) in app.component.ts which uses the original version.

I cannot see any negative side-effects of using the patched

[2017-03-15 12:30] tkagerer commented on #48
Hi weichx, thank you for your quick answer and sorry for my late answer.

I might have special requirements here.

See `http://plnkr.co/edit/5ed8ZK10CFWtHjLTIpTV?p=info` for the patched version (app.component.ts)

See `http://plnkr.co/edit/QqrY3aPxOimtol7yfvJW?p=info` for the original version (app.component.ts)

I couldn't find any negative side effects of my patched version.

[2017-03-15 17:54] rightisleft opened #50 "Naming Convention between GenericDeserialize and Deserialize"
I just re read the documentation and realize that i've been inverting GenericDeserialize and Deserialize.

GenericDeserialize is actually Typesafe.

Deserialize is not type safe.

While GenericDeserialize makes sense in terms of using 'Generics' - in this context i actually associated _Generic_ to mean JSON, or Untyped.

Maybe consider renaming to TypedDeserialize or something similar.

[2017-03-15 18:07] weichx commented on #50
I can see where that could be mixed up, I'd like to restructure things a
bit in the next version, that's one of them

On Mar 15, 2017 6:54 PM, "Jack Murphy" <notifications@github.com> wrote:

I just re read the documentation and realize that i've been inverting
GenericDeserialize and Deserialize.

GenericDeserialize is actually Typesafe.

Deserialize is not type safe.

While GenericDeserialize mak

[2017-03-26 06:47] SirGordon opened #51 "Is it possible for cerialize to work within es5 environment?"
Hello!
I have a project that needs a deserializing library for web client, so my question if it's possible to transpile it all to es5 and expect it to be working?
Thanks!

[2017-03-26 09:10] weichx commented on #51
Yes target es5 in tsconfig.json, should be fine

On Mar 26, 2017 8:47 AM, "SirGordon" <notifications@github.com> wrote:

[2017-03-26 09:59] SirGordon commented on #51
But in the Readme, the last Requirements section states:
"Cerialize uses the ES6 Map implementation so you must be on a browser that supports it or include a shim."
As far as I know, Map cannot be transpiled to es5

[2017-03-26 10:12] weichx commented on #51
Depends on your browser target, if you need to target a browser that doesn't support the map, you can add a polyfill for it https://www.npmjs.com/package/es6-map

[2017-03-27 09:04] Vaevictus commented on #42
I just ran into this issue. Array returned from server with mixed bag of items that all inherit a common base type.
Feature request here if the language supports it: Could not an attribute be used on the base/abstract type, declaring known subtypes and the associated string value in a specific field as a discriminator?

[2017-03-27 09:10] weichx commented on #42
I think this is better handled in an OnDeserialized callback on the base type. Figuring out subtype based on string values feels pretty flimsy to me to be a feature.

[2017-03-27 14:31] SirGordon commented on #42
https://github.com/JohnWeisz/TypedJSON
these guys have abstract class deserialization feature, but ofcourse you have to provide some hints.

[2017-03-30 21:34] rightisleft opened #52 "Problem With Maps"
I'm trying to come up with a simple example here, but the longterm goal is to create extend IStringTMap with custom type.

**Long Term Goal:**
`class IPersonMap extends IStringTMap<Person> {};
`
**Current Test Failure:**
`class IStringArrayMap extends IStringTMap<string[]> {};
`
Right now, this fails to deserialize.

[code]

[code]

Expected:
instanceA should not be undefined.

[2017-03-30 21:49] #52 closed

[2017-03-30 21:58] rightisleft opened #53 "mergePrimitiveObjects fails on GenericDeserializeInto"
I'm attempting to use GenericDeserializeInto to merge A and B where certain fields on A have the exact same values of object B, both B has some newer fields.
Result:

Production Error:
[code]

iModelDTO = GenericDeserializeInto<DTOModel>(req.body, DTOModel, iModelDTO);

Test Harness Error:

[code]

[code]

[2017-03-30 22:01] rightisleft commented on #53
FYI:
I've swapped `IStringMapStringArray` for `any`, and i get the same results.

[2017-04-04 04:44] chrisalexander55 opened #54 "Throws Uncaught ReferenceError: exports is not defined"
Excellent library and thank you for sharing with the world!

So, let me give you my config:

OS: OSX 10.12.3
Node: v6.10.0
Angular-CLI: 1.0.0

package.json dependencies node:
`"dependencies": {
    "@angular/common": "^4.0.0",
    "@angular/compiler": "^4.0.0",
    "@angular/core": "^4.0.0",
    "@angular/forms": "^4.0.0",
    "@angular/http": "^4.0.0",
    "@angular/platform-browser": "^4.0.0",

[2017-04-04 10:44] weichx commented on #54
I don't think this has anything to do with config, I haven't used angular2/ angluar-cli / whatever but I know they use system.js instead of commonjs. (at least they used to, im behind the time on the angular side of things). It could be that they are loading using the system packer and Cerialize expects commonjs style imports. You could verify this by importing the raw ts file (serialize.ts) from

[2017-04-04 23:52] chrisalexander55 commented on #54
@weichx I perform 2 follow-ups:

1. I changed compilerOptions to module: commonjs and it worked without incident. Thank you.
2. I imported the serizlize.ts file directly and it threw the following

`ERROR in /Users/jamesalexander/Documents/Projects/cms-ide/node_modules/cerialize/src/serialize.ts (501,45): Argument of type 'string | Date' is not assignable to parameter of type 'string'.
  Type 'Dat

[2017-04-06 02:41] chrisalexander55 opened #55 "Object Within Array Not Deserialized/Serialized"
I am unable to serialize/deserialize author nodes into Author class instances even though I can successfully serialize/deserialize the types array. I console.log the constructor of each but Author is never stdout. Did I miss something from the README?

I have the following JSON payload, truncated:

`
{
	"types": [
		{
			"typeName": "someinfo",
			"summary": "someinfo",
			"id": "10001",
			"typeR

[2017-04-06 09:06] weichx commented on #55
I just ran your code without issue and got the expected result. Are you sure you aren't seeing other errors in  your console? Here is what I ran (ignored moment code since I didn't want to bother setting it up)

[code]

here is what I got, looks right to me:
[code]

[2017-04-06 12:14] chrisalexander55 commented on #55
Console is clean. Rearranged Type constructor param order and rebooted machine. Still not working for me. This is what I am fully working with:

JSON:
[code]

API Call:

[code]

Classes:

[code]

[2017-05-15 20:37] MarcelHoogesteger opened #56 "Nested arrays are not serialized with there Type definition"
If I have a model with nested arrays, the nested arrays are not serialized with there specified type:
[code]
FormControlModel field inputType is serialized as 'inputType' instead of 'input_type'

[2017-05-15 20:39] MarcelHoogesteger commented on #56
The method serializeTypedObject not provide a type for source Arrays:
[code]

[2017-05-17 08:01] weichx commented on #56
looks like your pr fixed this, all good now?

[2017-05-18 11:44] StefH commented on #50
Why not define just **one single** function ?

[code]

This function can be called like:
`const obj: any = Deserialize();`

But also:
`const address: Address = Deserialize<Address>();`

[2017-05-18 12:25] weichx commented on #50
The reason is historical, this library was written before typescript had generics and now I don't want to break everyone's code by changing the behavior

[2017-05-21 13:20] MarcelHoogesteger commented on #56
yes, all good now

[2017-05-21 13:20] #56 closed

[2017-05-22 18:13] tilowestermann commented on #55
I'm facing a similar issue, where an array of custom objects (`InventoryItem` below) won't get deserialized. However, I'm able to add the missing objects by calling `Deserialize()` again in `OnDeserialized`.

[code]

[2017-05-30 20:35] weichx commented on #55
Did you assign a value to the array in the constructor?

[2017-05-31 11:06] tilowestermann commented on #55
No, I didn't. The snippet I posted is actually the whole class (except for some missing properties), i.e., there is no extra constructor.

[2017-05-31 11:46] weichx commented on #55
How is InventoryItem defined? Does it have `@serializexxx` annotations?

[2017-06-07 11:06] bjsk opened #58 "Empty strings in version 0.1.15, is converted to null"
Hello,

I have been using cerialize for a while, and I am generally very satisfied. It does have some funky behaviors that you will have to learn to use it in more advanced cases, but it is not that problematic.

However, after the latest update (0.1.15) an empty JSON string ("") is deserialized into null, which for me is a big problem. I will now have to go through my objects manually to change t

[2017-06-07 14:26] weichx commented on #58
Glad you like the library, would love to know what you think is funky. (some things I know about and are a language limitation 👎  )

As far as this issue is concerned, I'm not sure I understand your use case. Are you saying that deserializing an emptystring to json should results in {} and doesn't? can you provide a code sample?

[2017-06-07 14:51] alejandrocoding opened #59 "Nested object Serialization with custom key name"
Hi there,

First things first, thanks for this lib, it's really great.

I am facing a problem , did not see the same error already reported, so I am not sure either it's a new bug, known bug or my mistake but I've attached here below:

When nesting objects, they get mapped with values, that's working fine, but it doesn't get inferred the new name for the property.

The code:

    class Person {

[2017-06-08 10:13] bjsk commented on #58
Thanks for your response.

No an empty string '' should still be an empty string '' when it is deserialized. Actually none of the versions give what I would consider as the correct result. Here is an example that illustrates the issue:

**The Class:**
[code]
**The code:**
[code]
(The JSON.stringify is just to have a result that is easy to copy/paste here)

**Version 0.1.14 Output:**
[code]

**Vers

[2017-06-09 08:06] weichx commented on #58
Ah ok, I see what you mean. I'll take a look at this though I'm traveling for the next few days so may not find the time until next week.

[2017-06-15 16:42] hyndsite commented on #59
@ialex90 did you get any further with this? I am considering this library - but if what appears to be crucial functionality issues are not responded to in over a week, might be the right lib for my project.

[2017-06-16 20:20] ialex90 commented on #59
ey @hyndsite, I didn't get further with it and didn't get any response neither yet :( It's sad as the implementation seems very cool and clean

[2017-06-20 16:37] rightisleft opened #60 "Typed Arrays"
I thought i remember this working. My goal is to deserialize a top level array.

`
let items: TopicDTO[] = GenericDeserialize<TopicDTO[]>(action.payload, TopicDTO);
`

This is throwing:
[code]

Is there a way to properly deserialize a top level json array into new class instances?

[2017-06-21 01:12] chrisalexander55 commented on #54
Unable to reproduce...

[2017-06-21 01:12] #54 closed

[2017-06-21 02:27] chrisalexander55 commented on #55
Revisited after a few months and is working as expected. If anyone comes across this, ensure you imported serialize and deserialize. I'm guessing that is the change I made.

[2017-06-21 02:27] #55 closed

[2017-06-29 13:33] noemi-salaun opened #61 "Typescript 2.4 breaks support of enum"
With 2.4, Typescript add some check about weak types.

See [the related changelog](https://github.com/Microsoft/TypeScript/wiki/What%27s-new-in-TypeScript#weak-type-detection).

If we look at the **deserializeAs** annotation signature

[code]

And its usage with enums

[code]

`MyEnum` is supposed to be an `ISerializable`. With `SerializableEnumeration()`, it is, at runtime. But at compilation typ

[2017-07-04 09:01] connormlewis commented on #59
I believe I'm running into the same issue. Though it's not exactly the same as your case. I'm trying to do something like this:
`class A {
    @autoserializeAs(B) b: B;
}

class B {
    @autoserializeAs(A) a: A;
}`

I looked through the serialize source a bit and after some debugging, it seems that the issue is that at the time it tries to figure out the mapping for A, it doesn't know how to deser

[2017-07-09 14:00] ezorus opened #62 "License file"
Thank you for the great work!
Could you add a license file for the project?

[2017-07-30 14:36] RodolfoSilva opened #64 "Refactor code"
Hey @weichx good work.

I think we can turn this project most better breaking the `serializer.ts` separing the responsibilities and creating a `index.ts` to join all. What do you think about this?

[2017-08-02 03:05] weichx commented on #64
For something this small i dont think it makes sense to introduce build
tool complexity. That would also increase file size by a little bit

On Jul 30, 2017 22:36, "Rodolfo Silva" <notifications@github.com> wrote:

[2017-08-03 15:13] ThePainnn commented on #61
HI, I'm new to typescript and all. I've got this issue now with my enum annotated with serializeauto. Is there a workaround or we have to wait for an updated version of the lib for that issue?

Thanks!

[2017-08-04 08:33] noemi-salaun commented on #61
@ThePainnn
You can go back to TypeScript 2.3 until @weichx looks at the problem.

[2017-08-09 02:06] btate opened #65 "Deserialized Object Is Empty"
I have a simple user class.  When I try to deserialize the json I always get an empty object back.  I'm logging the json and instance in OnDeserialized.   I'm not seeing any errors anywhere.  Just getting this empty object back. I've tried this with @deserialize and @autoserialize. What am I missing here?

User Class
[code]

OnDeserialized Log Output

[code]

Deserialization call

[code]

I also t

[2017-08-09 11:49] sondreb opened #66 "IE11: Deserialize fails to parse "0001-01-01" dates"
There is a bug with the Deserialize method for IE11, it fails to parse "0001-01-01T00:00:00.000Z" dates and returns Invalid Date/null.

Example code:
[code]

And here is the output for IE11:

[code]

Using Chrome 60, Firefox 54 and Microsoft Edge 41, this works just fine:

[code]

Using only @autoserialize works for IE11, but that is not a workable solution.

[2017-08-09 12:02] sondreb commented on #66
One possible workaround:

[code]

Add the static callback method on the entity and simply copy the date original to the new instance. At least it fixes the problem that the date field ends up as null/Invalid.

[2017-08-10 00:45] btate commented on #65
It's an ionic 3 project which means it's using angular 4.

[2017-08-10 01:26] btate commented on #65
Scratch that.  I'm an idiot.  I originally used private variables in my model that started with an underscore.  I had this in my app.component.ts file to account for it.

[code]

[2017-08-10 01:26] #65 closed

[2017-08-10 05:51] weichx commented on #65
:)

On Thu, Aug 10, 2017 at 3:26 AM, Brandon Tate <notifications@github.com>
wrote:

[2017-08-10 12:51] btate commented on #65
Yeah.  It was a couple weeks ago and I was little intoxicated when I wrote all that.  For some reason the whole private variable in the form _firstName model didn't serialize so I dropped it in favor of simple public variables.  When I did, I totally forgot I had added those methods to account for the underscore.

[2017-08-11 16:08] rightisleft commented on #66
Im seeing IE failures as well...

[2017-08-15 02:02] miao17game opened #67 "Deserialize bad in Union Types"
@deserializeAs(ParameterValue | GetResponseValue)
it doesn't work anyway.

how can i deserialise str to the union type instance?

[2017-08-15 02:05] miao17game commented on #67
There is no problem in serialization mode when the type is union.

the union type is not a kind of 'string|Function|Iserializable' .

[2017-08-15 08:00] weichx commented on #67
You'll have to implement a custom deserializer for your type. We are only
able to deserialize from concrete type references, unions are a typescript
feature that don't exist at runtime.

On Tue, Aug 15, 2017 at 4:05 AM, Wallace Sun <notifications@github.com>
wrote:

[2017-08-15 08:16] miao17game commented on #67
well, I know, thanks!!!

[2017-08-15 08:16] #67 closed

[2017-08-15 21:12] apijay commented on #62
Need licence file for approval!

[2017-08-17 22:16] kwayne11 commented on #62
Me too! We are trying to use this library but without a licence it will not be allowed.

[2017-08-18 07:46] weichx commented on #62
added

[2017-08-18 07:46] #62 closed

[2017-08-18 07:49] weichx commented on #60
This doesn't work because the types don't match. Unfortunately this is a typescript issue and not a library issue. The 2nd argument to that function needs a concrete type (that you've passed correctly) but the generic type must match it, which isn't possible because SomeType[] is not a concrete type.

[2017-08-18 07:49] #60 closed

[2017-08-18 07:59] weichx commented on #61
I'll have to think about how to handle this, I'm not sure off the top of my head

[2017-08-18 08:07] weichx commented on #61
I think the only solution is have SerializableEnum return an indexable mapped type. I forget exactly how mapped types work but it would something like this:

[code]

Thoughts?

[2017-08-18 08:08] #50 closed

[2017-08-18 08:08] #64 closed

[2017-08-18 08:13] weichx commented on #66
Feel free to submit a PR, I haven't had a chance to look at this yet

[2017-08-18 08:13] #51 closed

[2017-08-18 15:01] rightisleft commented on #60
can you can overload the function to return both incarnations?

[2017-08-21 08:10] weichx commented on #60
You mean have the signature look like this? `GenericDeserialize<T|T[]>(data : any, type : typeof T) : T|T[]`?

I'm not sure that works with type inference though the new version of TS may fix that

[2017-08-29 13:54] rLoka opened #69 "Maximum call stack size exceeded"
It seems to me that the library can not handle circular objects which is why I get "Maximum call stack size exceeded" upon serialization. Would be great if you could add support for that.

Check https://github.com/WebReflection/circular-json

[2017-08-29 13:57] weichx commented on #69
I think this is outside the parameters of the library, if you need circular
references you can set them up via callbacks

Am 29.08.2017 3:54 nachm. schrieb "rLoka" <notifications@github.com>:

[2017-09-02 06:02] #69 closed

[2017-09-24 15:10] rsparrow commented on #61
+1 Look forward to seeing how this is resolved ;-)

[2017-10-08 01:00] 7chenko commented on #61
Any resolution on this? Thanks.

[2017-10-10 09:21] christophercr opened #70 "Cerialize broken with Typescript 2.4+"
Hi there,

I've been using Cerialize for quite some time and I must say it works like a charm ;)

I have a problem though, I tried to upgrade my project to Typescript2.4 and now I get some TSC errors in the usage of @serialize, @serializeAs and @autoserializeAs annotations:

  Type 'typeof MyClass' is not assignable to type 'Serializer'.
    Type 'typeof MyClass' provides no match for the signatur

[2017-10-10 09:38] weichx commented on #70
Glad you like the project! I know about the stricter checks in 2.4 but I haven't gotten around to updating this yet unfortunately. We certainly need to update the signatures of the annotations, probably to include something like `INewable<T>` where that would be defined as

[code]

[2017-10-10 13:20] #70 closed

[2017-10-10 13:25] weichx commented on #61
Should be fixed by #71

[2017-10-10 13:25] #61 closed

[2017-10-20 02:14] rightisleft opened #73 "Circular Reference Handling Improvement"
I noticed that when there's a circular reference in an entity, it will cause @autoSerializeAs on a child field to fail. However, this is silent. It would be great if it wasn't silent!  They just come back as undefined with no feedback.

[2017-10-20 15:58] rightisleft opened #74 "Reflection & Hoisting"
I'm debugging the following error.

TypeError: decorator is not a function
    at DecorateProperty (/Users/jmurphy/projects/ubq/api/node_modules/reflect-metadata/Reflect.js:530:29)
    at Object.decorate (/Users/jmurphy/projects/ubq/api/node_modules/reflect-metadata/Reflect.js:100:20)
    at __decorate (/Users/jmurphy/projects/ubq/api/dist/src/ubq/dtos/lens.dto.js:4:92)
    at Object.<anonymous> (

[2017-10-20 18:22] rightisleft commented on #74
I setup a simple test with 2 entities that use both Address and Owner. This is designed specifically to test fat arrow type assignment.

1: Using an expression to

[code]

Using:

[code]

[2017-10-20 20:46] rightisleft commented on #74
From the other author:
https://github.com/typeorm/typeorm/issues/1060

[2017-11-09 11:43] briosheje commented on #59
Having a significantly similar issue with a "slightly" more complex problem, it looks like that `autoserialize` is not creating a new instance of a class, but rather a single object not instance of the said class.

Example: I have a nested array with "children" repeating over time, like:

[code]

the "children" object is meant to be an instance of a class called `RemoteFileOrFolder`. In my case, t

[2017-12-30 13:57] briosheje opened #75 "Deserialize doesn't work on extended classes."
Considering this example:

[code]

res will only hold the "hello" property, test will be completely ignored.

Is there any workaround for this?

--- EDIT ---

Nevermind, I've found a workaround, despite it may not work for any case but hey, it's still a fix:

[code]

Using `OnDeserialized` will ensure that all the properties extracted from the A instance will be set on B as well, if they don't exi

[2018-01-05 10:33] weichx commented on #75
There's a section in the readme about this, its not inherited by design but you can opt in with a decorator

[code]

[2018-01-05 10:34] #75 closed

[2018-01-05 12:59] briosheje commented on #75
@weichx

Sorry, I didn't notice it at first.

Thanks!

[2018-02-03 18:44] colorcube opened #77 "Typo in documentation "Defining a custom serializer type""
The function Serializer has to be named Serialize (without 'r')

https://github.com/weichx/cerialize#defining-a-custom-serializer-type

[code]

[2018-02-03 22:52] weichx commented on #77
good catch, thanks!

[2018-02-03 22:52] #77 closed

[2018-02-06 00:33] TheBinaryFox opened #79 "Request: Option to use Object.create instead of new."
Would it be possible to add an option that makes cerialize create objects without invoking their constructors? The current implementation of `new (type as any)()` causes issues for objects which freeze themselves in the constructor.

[code]

[2018-02-06 07:46] weichx commented on #79
This is a version 2 feature already. I haven't released it yet but you can
checkout the https://github.com/weichx/cerialize/tree/mw/v2 branch. Happy to take feedback

Am 06.02.2018 1:33 vorm. schrieb "The Binary Fox" <notifications@github.com

[2018-02-06 08:46] weichx commented on #74
This should be solved in version 2 https://github.com/weichx/cerialize/tree/mw/v2 using `@serializeUsing`

[2018-02-06 21:52] TheBinaryFox commented on #79
Thanks for the quick reply! I just looked through the deserialization code, but the closest thing that I found was the option to deserialize into a plain object:

[code]

While that definitely works, it won't inherit the prototype chain of the associated type. Unfortunately, that means class methods won't be defined on the deserialized objects:

[code]

## Edit
I had some spare time, so I made a p

[2018-02-07 10:41] TheBinaryFox commented on #79
PR #80 is merged.

This is now fixed in version 2.

[2018-02-07 10:41] #79 closed, assigned to nobody

[2018-02-16 18:42] parish-dont-panic commented on #73
I'm running into this as well. What's more is that it doesn't seem to matter if I tag the nested reference with autoSerialize or not. Deserialization still fails whether I event want that property deserialized or not.

[2018-02-21 13:58] j-maas opened #81 "TypeScript parameter property and argument type incompatibility"
I am using TypeScript and get the following errors, when I try to use the decorators. Especially the error on the parameter properties, demonstrated in `Bag`, is unfortunate, because I need to write "boilerplate" code for initalizing the properties as demonstrated in `SerializableBag`.

[code]

Did I misunderstand something? Or is it possible to fix these errors?

[2018-02-27 08:52] weichx commented on #81
This what it should like:

[code]

If you want to have a constructor you can, but be sure that you code won't break if the constructor is called with no arguments provided.

[2018-02-27 08:52] #81 closed, assigned to nobody

[2018-02-27 10:06] j-maas commented on #81
So `@autoserialize` cannot have parentheses and arguments?

And what about parameter properties? The following shows an error:
`constructor(@autoserialize public appleCount: number) {}`
Is this something that cannot be fixed right now?

[2018-02-28 20:46] joey-he8x opened #82 "Change the default serialize behaviour for Date"
i use cerialize before insert/update records to mongodb.
Is there a way i can aviod serialize Date to ISOString, i want to keep it as Date, or serialize it into Number, but neither works.

[2018-03-01 20:25] TheBinaryFox commented on #82
In version 2.0, you can use `@autoserializeUsing(transforms : SerializeAndDeserializeFns, customKey? : string)` to do that.

[2018-03-02 09:47] weichx commented on #82
you can use a custom serializer in version 1, check the docs,  you can provide a `@autoserializeAs` with an object that defines your serializer. Just do the same for your `Date` type
[code]

[2018-03-02 09:48] #82 closed, assigned to nobody

[2018-03-04 08:35] nicodmf commented on #45
2 libs that implement cyclic operations :

https://github.com/erossignon/serialijse
https://github.com/douglascrockford/JSON-js/blob/master/cycle.js

[2018-03-29 09:23] Diademe commented on #59
I have a similar issue:
The following code throws an unhandled exception
[code]
but if I uncomment the `@autoserialize public species:` string, everything is fine. However, if I swap the two autoserialize, I get the exception back
It might solve @briosheje 's problem: add an autoserialize in the top of the class.

[2018-04-10 20:01] rsparrow opened #83 "Question About Enums"
Using V2 when I have the following:

[code]
I get the following error:
[code]

What is the correct way of tagging these Enums?

[2018-04-10 21:21] rsparrow commented on #83
Sorry this is my bad, all you need to do is change the following line:

[code]

TO:

[code]

This is good to close!

[2018-04-10 21:21] #83 closed, assigned to nobody

[2018-05-20 11:30] prudnikov opened #84 "Deserialising HTTP error response"
Usually when using JSON REST API error response contain dictionary where keys are the same as model's keys, but values are error messages.

For example

[code]

When failed updating User instance we may receive an error response
[code]
This is default behaviour in Django Rest Framework and I assume in many more.

Is there any way to deserialise error response, so when we get the error data object

[2018-06-15 13:40] briosheje opened #85 "Missing in documentation: Serialization on getters / setters"
This is quite angular specific, but whenever you bind a getter to angular, it looks like that if it isn't binded in `autoserialize` it won't work.

Example:

[code]

By binding `_Quantity` to the angular's NgModel (or anything similar, really), this won't work if the instance is coming from a Deserialization.

To make it work, you need to bind the setter with serialize / deserialize / autoserializ

[2018-07-13 09:59] johanlantz opened #86 "Is ist possible to cerialize a Map"
Hi and thanks for the awesome project. Got me started in no time.

I just have one thing that I could not get right so far.

I have a Map object looking like this
Map<string, UserInfo>

but I am not able to serialize it. I have tried a few combinations of autoserializeAs and autoserializeIndexable but I can not get it to work.

Should this be possible? If so, a quick hint on how to decorate things

[2018-07-13 11:15] weichx commented on #86
For an actual Map instance I don't think its supported but you can use an indexable object. if you need that transformation you can write a custom Serializer for it to pump the data into an actual map instance instead of just an object.

[2018-07-13 11:17] weichx commented on #86
I think version 2 supports that but I haven't officially released it yet

[2018-07-13 11:52] johanlantz commented on #86
I saw the indexable object example. Will give it a try, thanks a lot for the quick answer.

[2018-07-20 15:15] johanlantz opened #87 "Is there a restriction on json size"
Hi again, awesome project. I got it to work super easy with my project and I am still exploring the usecases.

One strange thing just happened. My application started to freeze on loading when I updated the json. Finally I deducted it had something to do with the size of the json so I started to add characters to a string inside the json until I discovered the limit where the json size caused the

[2018-07-20 18:50] weichx commented on #87
I haven't tried it with json that big, maybe it's a js limit? I also find
the 65284 suspicious. Does everything work before you deserialize?

johanlantz <notifications@github.com> schrieb am Fr., 20. Juli 2018, 17:15:

[2018-07-20 19:47] johanlantz commented on #87
I will test more but what I saw today was:
- When I debug the first line:
const config = await this.http.get('assets/program.json').toPromise();
was working ok. So its not the size of the string.

- Secondly, I did not add any new elements or anything to the json. I just noticed that something did not work and I started to remove elements etc finally narrowing it down to a single character differe

[2018-07-22 10:13] johanlantz commented on #87
I found the issue. It was nothing with this project. There was a race condition in my app. I read the json from file in the service. Then in the component used to render the content, I asked for the deserialized object tree when the view was about to show.

The super crazy thing is that while the json was below the limit, the file read and deserialization finished before the view was about to show

[2018-07-22 10:13] #87 closed, assigned to nobody

[2018-07-23 07:55] #86 closed, assigned to nobody

[2018-08-07 08:07] cs commented on #81
Apparently, TypeScript doesn't allow decorators on parameter properties.

See https://github.com/Microsoft/TypeScript/issues/10777.

[2018-09-10 11:38] prudnikov opened #88 "Deserializing optional nested fields"
Cerialize version 2.0.1

Here is example code:

[code]
Second deserialization is failing with error while first is ok.

[code]

Is there any way to deserialize optional nested field? Or should I write a custom `SerializeFn`?

[2018-10-25 11:53] Calion54 opened #92 "is it works with HttpClient ?"
Hi,
I'm using HttpClient from Angular 6 and I would like to use your librairie to transform snakecase to camelcase but it's doesn't works...

My Model :
[code]

My service :
[code]

is it possible or not ???

[2018-11-07 08:44] weichx commented on #92
I don't know anything about HttpClient or Angular but I don't see why it wouldn't work. You probably need to actually call Serialize/Deserialize though, your sample doesn't invoke Cerialize

[2018-12-11 10:30] Obiwarn opened #93 "Anyone else having problems running cerialize v2 it with the new Create React App 2.0?"
I install via `npm i cerialize@next`.

Simple test does not work (runs fine with ceialize v1):

[code]

[2018-12-18 07:27] adam-saudagar commented on #92
it works, amazing script dude keep up the good work 😄

you can close close the issue now

[2019-03-15 10:23] pkruithof opened #94 "Deserializing can circumvent primitive types"
Given this class:

[code]

Deserializing a payload with a different type leads to the wrong type:

[code]

This is also the case the other way around (if you pass a number for a string property, it remains a number). This way you don't have type safety.

Am I doing it wrong here, or is this expected behaviour?

[2019-03-17 00:31] prudnikov commented on #92
@Calion54 you can call `map` operator to deserialize. I suppose `Set` is you data class.

[code]

[2019-03-18 11:46] prudnikov commented on #94
Just tried it with v2 and it works as expected

[code]

[2019-03-19 09:03] pkruithof commented on #94
So number should always be explicitly typed? Can it not be inferred from the defined type? Is this also the case for strings and other primitive types?

[2019-03-19 10:09] prudnikov commented on #94
I believe it is due to different instantiation methods added in v2 which may require calling a constructor, but not sure. Here `Number` is a constructor for the number type. I have no problem with this syntax and successfully use v2 on production.

[2019-05-29 20:16] Marcos-Amazonas opened #95 "Having some difficulties in deserializing an Array of a custom type"
I'm developing a social netwrok aplication comprised of a Rails based API and a Angular7 web application. Basically the Angular aplication is a web interface to the API.

I'm using the cerialize Typescript library to map the return of the rails API to my Angular models, the goal is to map the json response from snake_case to camelCase.

Basically I'm able to deserialise one object, but I can't des

[2019-06-24 13:24] briosheje opened #96 "autoserializeAs not working anymore."
After updating to typescript 3.1.6 or anything higher, autoserializeAs is randomly not working.

Scenario:

![image](https://user-images.githubusercontent.com/1898880/60022307-e05c1200-9693-11e9-909c-9ee2678d10ec.png)

Enumerated key in debugger (metadataArray):
![image](https://user-images.githubusercontent.com/1898880/60022343-ebaf3d80-9693-11e9-9843-407d7f83cb6a.png)

It sounds like some proper

[2019-06-24 13:52] briosheje commented on #96
<strike>Okay, I found out that the issue seems to be related to either compilation issues, either runtime / whatever reason.</strike> NO, I'm sorry, this doesn't seem to fix the issue.

Basically, at this line:
https://github.com/weichx/cerialize/blob/f6f1166908f7dcb26389cff2c5b78e42d08735b4/src/serialize.ts#L313

<strike>
It checks whether the provided element exists. If it doesn't, it **silently

[2019-06-24 14:39] weichx commented on #96
To be honest I haven't worked on the web in a couple years now and am not
at all following changes to Typescript. If the language changed in a way
that broke the library I'd recommend someone A. submit a PR or b. lock down
the typescript version (shitty, I know)

On Mon, Jun 24, 2019 at 3:52 PM Marco Iamonte <notifications@github.com>
wrote:

[2019-06-24 14:41] weichx commented on #96
Your issue might also be a race condition issue where the type you used as
an argument doesn't yet exist in the system by the time you are loading the
class with the annotations on it, which would explain why passing a
function works since the function gets resolved later in the bootstrap
process

On Mon, Jun 24, 2019 at 4:39 PM Matt Weichselbaum <
matthew.weichselbaum@gmail.com> wrote:

[2019-06-24 14:43] briosheje commented on #96
@weichx I'm not exactly sure that's a typescript issue, it sounds like it is, as you mentioned, an issue related to a race instead.

In a nutshell, adding an extra `@autoserialize` at least seems to be serializing the property which is currently mandatory in my case.
Since I'm slighly more into the topic now, I will see whether I can submit a PR and eventually fix the issue myself, I'm really enjo

[2019-06-24 14:57] weichx commented on #96
Glad you're enjoying it and thanks for taking a look at it!

On Mon, Jun 24, 2019 at 4:43 PM Marco Iamonte <notifications@github.com>
wrote:

[2019-07-17 12:42] omatrot opened #97 "TS decorators and ES6"
I'm facing [problems](https://github.com/microsoft/TypeScript/issues/27519) with TS Decorators that have issues with circular or forward references for types.
I'm wondering if we can write a similar API and make decorators optional?

[2019-08-21 16:01] prudnikov opened #98 "Invalid return type of SerializeArray"
https://github.com/weichx/cerialize/blob/f86bdc53c17ebee20b2acf3bea8cc7b478ddd477/src/serialize.ts#L19

`SerializeArray` return type is `Array<JsonType>`, I believe it is wrong and it must be `Array<JsonObject>`. It maps to the result of `Serialize` whose return type is `JsonObject | null`, not `JsonType`.

[2019-08-21 16:16] prudnikov commented on #98
Sorry, my bad...

`export type JsonType = null | string | number | boolean | JsonObject | JsonArray;`

[2019-08-21 16:16] #98 closed, assigned to nobody

[2019-11-18 17:01] moamenet opened #99 "deserialize primitive number into object"
I am trying to deserialize the following json:

[code]

I am trying to deserialize it into the following classes:
[code]

[code]

The idea is, that the price class will have more functions etc, therefore I need it into the class instead of primitive.
Any idea how to do that ?

[2020-06-26 09:37] silvioboehme opened #100 "Use ECMAScript modules instead of CommonJS modules"
Is there any chance this library to be convert to ECMAScript modules? This will allow for a greater bundle size optimization at build time for apps that uses webpack or similar minifiers (https://web.dev/commonjs-larger-bundles/).

[2020-06-26 10:01] weichx commented on #100
It's been 3 years since I've written any JS and I'm completely out of touch with how all this new stuff works. Id be happy to accept a PR if you'd like to make one but I don't plan any further development on this library for the time being.

[2020-08-04 15:42] #59 closed

[2020-08-21 17:14] rallets commented on #100
Hi, I got also the same warning building Angular 10:
WARNING in C:[...]\filename.ts depends on 'cerialize'. CommonJS or AMD dependencies can cause optimization bailouts.
For more info see: https://angular.io/guide/build#configuring-commonjs-dependencies

I could help to convert to ECMAScript, but I need some guidance. There is someone who could help? @silvioboehme

[2021-05-14 07:22] #94 closed, assigned to nobody